// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2026, inferno0230 <mail@inferno0230.in>
 */

#include "sm8550-oneplus-common.dtsi"

/ {
	compatible = "oneplus,aston", "qcom,sm8550";
};

&dispcc {
	status = "okay";
};

&gpu {
	status = "okay";
};

&gpu_zap_shader {
	firmware-name = "qcom/sm8550/OnePlus/aston/a740_zap.mbn";
};

&i2c8 {
    // compatible = "oplus,bq27541-battery";
    status = "okay";
};

&ipa {
	qcom,gsi-loader = "self";
	memory-region = <&ipa_fw_mem>;
	firmware-name = "qcom/sm8550/OnePlus/aston/ipa_fws.mbn";
	status = "okay";
};

&remoteproc_adsp {
	firmware-name = "qcom/sm8550/OnePlus/aston/adsp.mbn",
			"qcom/sm8550/OnePlus/aston/adsp_dtb.mbn";
	status = "okay";
};

&remoteproc_cdsp {
	firmware-name = "qcom/sm8550/OnePlus/aston/cdsp.mbn",
			"qcom/sm8550/OnePlus/aston/cdsp_dtb.mbn";
	status = "okay";
};

&remoteproc_mpss {
	firmware-name = "qcom/sm8550/OnePlus/aston/modem.mbn",
			"qcom/sm8550/OnePlus/aston/modem_dtb.mbn";
	status = "okay";
};

&usb_1 {
	/* Only USB2.0 is supported. */
	maximum-speed = "high-speed";
	phy-names = "usb2-phy";
	qcom,select-utmi-as-pipe-clk;

	status = "okay";
};

&usb_dp_qmpphy {
	status = "disabled";
};

&mdss {
	status = "okay";
};

&mdss_dsi0 {
	status = "okay";

	panel@0 {
		compatible = "boe,aa551-p3-a0004";
		reg = <0>;

		pinctrl-0 = <&sde_dsi_active>, <&sde_te>;
		pinctrl-1 = <&sde_dsi_suspend>, <&sde_te>;
		pinctrl-names = "default", "sleep";

		enable-gpios = <&tlmm 90 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&tlmm 133 GPIO_ACTIVE_LOW>;

		vci-supply = <&vreg_l13b_3p0>;
		vddio-supply = <&vreg_l12b_1p8>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&mdss_dsi0_out>;
			};
		};
	};
};

&mdss_dsi0_out {
	remote-endpoint = <&panel_in>;
};

&mdss_dsi0_phy {
	status = "okay";
};

&tlmm {
	sde_dsi_active: sde-dsi-active-state {
		pins = "gpio133";
		function = "gpio";
		drive-strength = <8>;
		bias-disable;
	};

	sde_dsi_suspend: sde-dsi-suspend-state {
		pins = "gpio133";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
	};

	sde_te: sde-te-state {
		pins = "gpio86";
		function = "mdp_vsync";
		drive-strength = <2>;
		bias-pull-down;
	};
};

&vreg_l2g {
    regulator-name = "vreg_l2g_1p05";
    regulator-min-microvolt = <1050000>;
};
