// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2026, inferno0230 <mail@inferno0230.in>
 */

#include "sm8550-oneplus-common.dtsi"

/ {
	compatible = "oneplus,aston", "qcom,sm8550";

	chosen {
		/* Reuse the bootloader splash region as a framebuffer. */
		framebuffer: framebuffer@b8000000 {
			compatible = "simple-framebuffer";
			memory-region = <&cont_splash_mem>;
			width = <1264>;
			height = <2780>;
			stride = <(1264 * 4)>;
			format = "a8r8g8b8";
		};
	};
};

&gpu {
	status = "okay";
};

&gpu_zap_shader {
	firmware-name = "qcom/sm8550/OnePlus/aston/a740_zap.mbn";
};

&i2c8 {
    // compatible = "oplus,bq27541-battery";
    status = "okay";
};

&remoteproc_adsp {
	firmware-name = "qcom/sm8550/OnePlus/aston/adsp.mbn",
			"qcom/sm8550/OnePlus/aston/adsp_dtb.mbn";
	status = "okay";
};

&remoteproc_cdsp {
	firmware-name = "qcom/sm8550/OnePlus/aston/cdsp.mbn",
			"qcom/sm8550/OnePlus/aston/cdsp_dtb.mbn";
	status = "okay";
};

/* Modem crashes after some time with "DOG detects stalled initialization" */
&remoteproc_mpss {
	firmware-name = "qcom/sm8550/OnePlus/aston/modem.mbn",
			"qcom/sm8550/OnePlus/aston/modem_dtb.mbn";
	status = "fail";
};

&usb_1 {
	/* Only USB2.0 is supported. */
	maximum-speed = "high-speed";
	phy-names = "usb2-phy";
	qcom,select-utmi-as-pipe-clk;

	status = "okay";
};

&usb_dp_qmpphy {
	status = "disabled";
};

// Enabling this will break framebuffer
&dispcc {
    status = "disabled";
};

&vreg_l2g {
    regulator-name = "vreg_l2g_1p05";
    regulator-min-microvolt = <1050000>;
};
